* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px 0;
}

img {
    max-width: 100%;
}

/***********************
HEADER
***********************/

.row-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul > li {
    padding: 0 20px 0 0;
}

.col-head-1 {
    flex-basis: calc(100%/3);
}

.col-head-2 {
    flex-basis: calc(100%/2);
}

.col-head-3{
    flex-basis: calc(100%/3);
    justify-content: end;
}

.logo {
    width: 100px;
    height: 20px;
}

.item_logo {
    justify-content: center;
}

/***********************
HEADER
***********************/

/***********************
MAIN
***********************/

.row-main {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
}

.col-main {
    flex-basis: calc(-10px + 1024px / 3);
    position: relative;
}

.card-image {
    position: relative;
}

.item-desc {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

div [class^='tag'] {
    position: absolute;
}

.tag {
    font-size: 14px;
    color: white;
    padding: 4px;
    text-align: center;
}

.tag_favorite {
    font-size: 30px;
    color: black;
    background-color: white;
    /* border: 2px solid black; */
    top: 10px;
    right: 0;
    padding: 4px 10px;
}

.tag.discount {
    background-color: red;
    bottom: 40px;
}

.tag.eco {
    background-color: green;
    bottom: 40px;
    left: 40px;
}

/***********************
MAIN
***********************/

/***********************
FOOTER
***********************/

.row-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-foot-1 {
    flex-wrap: wrap;
}

.col-foot-2 {
    justify-content: end;
}

.foot-title {
    flex-basis: 100%;
}

/***********************
FOOTER
***********************/

/***********************
DEBUG RULES
***********************/

.debug .main-header {
    background-color: red;
    min-height: 80px;
    border: 2px dotted blue;
}

.debug .container {
    background-color: transparent;
    border: 2px solid black;
}

.debug [class^='row'] {
    padding: 5px 0;
    border: 2px dashed green;
}

.debug .col-main {
    min-height: 500px;
}

.debug .item-desc {
    min-height: 100px;
    border: 2px dashed blue;
}

.debug .main-footer {
    background-color: darkgray;
    min-height: 70px;
    border: 2px dotted purple;
}

